// Variables

$handle-size: 3rem;
$img-gap: .25rem;

// Heading

.carousel__header {
  display: flex;
  padding: .5rem calc($img-gap * 2 + $handle-size);
  align-items: center;
  justify-content: center;
}

.progress-bar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: .25rem;
}

.progress-item {
  flex: 0 0 1rem;
  width: 1.5rem;
  height: 0.2rem;
  background-color: rgba(255, 255, 255, .5);
}

.progress-item.active {
  background-color: rgba(255, 255, 255, .9);
}

@media (max-width: 500px) {
  .progress-item {
    flex: 0 0 0.5rem;
    height: 0.1rem;
  }
}

// Carousel Content

.carousel__content {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.slider {
  --items-per-screen: 4;
  --slider-index: 0;
  display: flex;
  flex-grow: 1;
  margin: 0 $img-gap;
  transform: translateX(calc(var(--slider-index) * -100%));
  transition: transform 250ms ease-in-out;
}

.slider__image {
  flex: 0 0 calc(100% / var(--items-per-screen));
  max-width: calc(100% / var(--items-per-screen));
  aspect-ratio: 9 / 12;
  padding: $img-gap;
  border-radius: 1rem;
  transition: transform 0.3s linear;
}

.slider__image:hover{
  z-index: 1;
  box-shadow: 0 0 0 100vw hsla(0, 0, 0, 0.75);
  transform: scale(1.1);
  
}

.handle {
  align-items: center;
  background-color: hsla(0, 0, 0, 0.75);
  border-radius: 1rem;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 5rem;
  justify-content: center;
  line-height: 0;
  margin: $img-gap 0;
  transition: background-color 150ms ease-in-out;
  width: $handle-size;
  z-index: 10;
}

.left-handle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.right-handle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.handle:hover,
.handle:focus {
  background-color: hsla(0, 0, 0, 0.5);
  
}

.chevron-icon {
    transition: transform 150ms ease-in-out;
}

.handle:hover .chevron-icon,
.handle:focus .chevron-icon {
    transform: scale(1.2);
    cursor: pointer;
    
}

@media (max-width: 1000px) {
  .slider {
    --items-per-screen: 3;
  }
}

@media (max-width: 500px) {

  h3 {
    font-size: 1.5rem;
  }

  .slider {
    --items-per-screen: 2;
  }
}