<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />

    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <script src="script.js" defer></script>

    <title>Ken-Arts</title>
  </head>
  <body>
    <div class="carousel">
      <div class="carousel__header">
        <h3 class="carousel__title">Title</h3>
        <div class="progress-bar"></div>
      </div>

      <div class="carousel">
        <button class="handle left-handle">
          <div class="text">&#8249;</div>
        </button>
        <div class="slider">
          <img class="slider__image" src="assets/images/portrait/2.jpg" />
          <img class="slider__image" src="assets/images/portrait/3.jpg" />
          <img class="slider__image" src="assets/images/portrait/4.jpg" />
          <img class="slider__image" src="assets/images/portrait/5.jpg" />
          <img class="slider__image" src="assets/images/portrait/6.jpg" />
          <img class="slider__image" src="assets/images/portrait/7.jpg" />
          <img class="slider__image" src="assets/images/portrait/8.jpg" />
          <img class="slider__image" src="assets/images/portrait/9.jpg" />
          <img class="slider__image" src="assets/images/portrait/10.jpg" />
          <img class="slider__image" src="assets/images/portrait/11.jpg" />
          <img class="slider__image" src="assets/images/portrait/12.jpg" />
          <img class="slider__image" src="assets/images/portrait/13.jpg" />
          <img class="slider__image" src="assets/images/portrait/14.jpg" />
          <img class="slider__image" src="assets/images/portrait/15.jpg" />
          <img class="slider__image" src="assets/images/portrait/16.jpg" />
          <img class="slider__image" src="assets/images/portrait/17.jpg" />
          <img class="slider__image" src="assets/images/portrait/18.jpg" />
          <img class="slider__image" src="assets/images/portrait/19.jpg" />
          <img class="slider__image" src="assets/images/portrait/20.jpg" />
        </div>
        <button class="handle right-handle">
          <div class="text">&#8250;</div>
        </button>
      </div>
    </div>
  </body>
</html>
